/*------------------------------------*\
  #DECLARATIONS
\*------------------------------------*/

/**
 * Imports and variables was here
 */


@import url('https://fonts.googleapis.com/css?family=Roboto');

$green-color: #09b96d;
$light-grey: #eef2f2;
$border: 1px solid lightgrey;

* {
    box-sizing: border-box;
    color: #2d3636;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/*------------------------------------*\
  # HTML TAGS
\*------------------------------------*/


body { font-size: 18px; }

button {
    background-color: $green-color;
    border: 1px solid $green-color;
    border-radius: .3em;
    color: white;
    cursor: pointer;
    padding: .5em 1.5em;
}

ul { list-style-type: none; }

/*------------------------------------*\
  #DATES
\*------------------------------------*/

/**
 * Style for all dates
 */


.date { color: grey; }

.date::first-letter { text-transform: capitalize; }


/*------------------------------------*\
  #ROUTER
\*------------------------------------*/

/**
 * Style for all React components
 */


#root { font-size: 1rem; }

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

/**
 * Style for the header
 */


header {
    height: 3em;
    clear: both;
    margin: 2% 0 1% 0;
    padding: .5% 0 0 15%;
    width: 100%;

    * {
        float: left;
        font-size: 1em;    
    }

    h1 {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        padding: 0 15%;
        width: 75%;
    }

    p {
        color: grey;
        padding: .5% 2%;
        width: 15%;
    }
}

/*------------------------------------*\
  #CONTAINER
\*------------------------------------*/

/**
 * Style for posts section
 */


#container {
    background-color: $light-grey;
    border-top: $border;
    float: left;
    padding: 0 20%;
    width: 100%;
}

/* Input for publications and comments */

.textarea {
    border: $border;
    font-size: 1em;
    padding: 2% 2%;
    resize: none;
    max-height: 6em;
    width: 100%;
    word-wrap: break-word;
}

/*------------------------------------*\
  #PUBLICATION
\*------------------------------------*/

/**
 * Style for posts input section
 */


#publication {
    padding: 2% 0;
    float: left;
    width: 100%;

    div {
        background-color: white;
        border-color: lightgrey;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        height: 3em;
        padding: 1% 0;

        button {
            float: right;
            margin-right: 1%;
        }
    }
}

/* Placeholder color green */
#publication-text::-webkit-input-placeholder { color: $green-color !important; }
#publication-text::-moz-placeholder { color: $green-color !important; }
#publication-text::-ms-input-placeholder { color: $green-color !important; }

/*------------------------------------*\
  #POST
\*------------------------------------*/


#post {
    background-color: white;
    border: $border;
    border-width: 1px 1px 4px 1px;
    float: left;
    margin: 2% 0 2% 0;
    width: 100%;
}

/* Profile pictures in comments and posts */
.profile-picture {
    float: left;
    width: 15%;
}

/*------------------------------------*\
  #POST DATA
\*------------------------------------*/

/**
 * Information of the post
 */


#post-data {
    clear: right;
    float: left;
    width: 85%;

    h4 { color: $green-color; }

    p {
        padding-right: 2%;
        text-align: justify;
        word-wrap: break-word;
    }
}

/*------------------------------------*\
  #ACTIONS
\*------------------------------------*/

/**
 * Posible actions for the posts (react and comment)
 */


#actions {
    p {
        color: $green-color;
        float: left;
        margin-right: 3em;
    }

    p:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    #reactions {
        left: 19em;
        position: absolute;

        img {
            cursor: pointer;
            margin-left: .2em;
            width: 1.3em;
        }
    }
}

#actions-movile {
    display: none;
    float: left;
    width: 100%;

    p {
        border-bottom: $border;
        color: $green-color;
        float: left;
        text-align: center;
        padding: 3% 0;
        width: 50%;
    }

    #reactions {
        background-color: white;
        left: 5%;
        position: absolute;
        padding: 1.9% 12%;
        margin: .5%;
        width: 44%;

        img {
            cursor: pointer;
            margin-left: .2em;
            width: 1.5em;
        }
    }
}

/*------------------------------------*\
  #POST INFO
\*------------------------------------*/

/**
 * Comments and reactions in each post
 */


#post-info {
    background-color: white;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px 0 1px 0;
    float: left;
    padding: 1% 4% 1% 4%;
    width: 100%;

    * {
        float: left;
    }

    img {
        margin: .2em -.2em;
        width: 1.5em;
    }

    p {
        color: $green-color;
        font-weight: bold;
        margin-left: 1em;
        padding: 1%;
    }

    p:last-child { 
        color: grey;
        float: right;
        font-weight: normal;
    }
}

/*------------------------------------*\
  #POST COMMENTS
\*------------------------------------*/

#post-comments {
    background-color: $light-grey;
    clear: right;
    float: left;
    padding: 4%;
    width: 100%;

    .comment {
        float: left;
        margin: 2% 0;
        width: 100%;

        .picture-content {
            float: left;
            width: 10%;
            
        }

        .comment-content {
            float: left;
            margin: 1% 0 1% 5%;
            margin-left: 5%;
            width: 85%;

            h5 { margin-top: .5em; }

            h6 {
                color: $green-color;
                font-size: 1em;
                float: left;
                margin-right: 1em;
            }
        }
    }

    .textarea { margin-top: 4%; }
}

/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/

/**
 * Animations for input comments and reactions buttons in a post
 */


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

/*------------------------------------*\
  #MEDIA QUERYS
\*------------------------------------*/

/**
 * For responsive desing
 */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

/*------------------------------------*\
  # HTML TAGS
\*------------------------------------*/



button {
    display: none;
}


/*------------------------------------*\
  #ROUTER
\*------------------------------------*/

/**
 * Style for all React components
 */


#root { font-size: .8rem; }

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

/**
 * Style for the header
 */


header {
    height: 3em;
    padding: 2% 0;
    width: 100%;

    h1 {
        font-size: 1em;
        padding: 0;
        width: 100%;
    }

    p {
        display: none;
    }
}

/*------------------------------------*\
  #CONTAINER
\*------------------------------------*/

/**
 * Style for posts section
 */


#container {
    padding: 0 5%;
}

/* Input for publications and comments */

.textarea {
    padding: 6% 3%;
}

/*------------------------------------*\
  #PUBLICATION
\*------------------------------------*/

/**
 * Style for posts input section
 */


#publication {
    padding: 2% 0;

    div {
        display: none;
    }
}


/*------------------------------------*\
  #POST
\*------------------------------------*/


/* Profile pictures in comments and posts */
.profile-picture {
    width: 20%;

    img {
        width: 65%;
    }
}

/*------------------------------------*\
  #POST DATA
\*------------------------------------*/

/**
 * Information of the post
 */


#post-data {
    
    width: 75%;

    p {
        padding-right: .5%;
    }
}

/*------------------------------------*\
  #ACTIONS IN MOVILE
\*------------------------------------*/

/**
 * Posible actions for the posts (react and comment)
 */


#actions {
    display: none;
}

#actions-movile {
    display: inline;
}

/*------------------------------------*\
  #POST INFO
\*------------------------------------*/

/**
 * Comments and reactions in each post
 */


#post-info {
    padding: 2% 4%;

    #reacts-counter {
        display: none;
    }

}


/*------------------------------------*\
  #POST COMMENTS
\*------------------------------------*/

#post-comments {
    padding: 4%;
    width: 100%;

    .comment {
        margin: 2% 0;
        width: 100%;

        .picture-content {
            width: 12%;

            img {
                width: 80%;
            }
        }

        .comment-content {
            font-size: .8em;
            margin: .1%;
            width: 87%;

            h5 { margin-top: .5em; }

            h6 {
                margin-right: .5em;
            }
        }
    }

    }

}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

/*------------------------------------*\
  # HTML TAGS
\*------------------------------------*/



button {
    display: none;
}


/*------------------------------------*\
  #ROUTER
\*------------------------------------*/

/**
 * Style for all React components
 */


#root { font-size: .8rem; }

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

/**
 * Style for the header
 */


header {
    height: 3em;
    padding: 2% 0;
    width: 100%;

    h1 {
        font-size: 1em;
        padding: 0;
        width: 100%;
    }

    p {
        display: none;
    }
}

/*------------------------------------*\
  #CONTAINER
\*------------------------------------*/

/**
 * Style for posts section
 */


#container {
    padding: 0 5%;
}

/* Input for publications and comments */

.textarea {
    padding: 6% 3%;
}

/*------------------------------------*\
  #PUBLICATION
\*------------------------------------*/

/**
 * Style for posts input section
 */


#publication {
    padding: 2% 0;

    div {
        display: none;
    }
}


/*------------------------------------*\
  #POST
\*------------------------------------*/


/* Profile pictures in comments and posts */
.profile-picture {
    width: 20%;

    img {
        width: 65%;
    }
}

/*------------------------------------*\
  #POST DATA
\*------------------------------------*/

/**
 * Information of the post
 */


#post-data {
    
    width: 75%;

    p {
        padding-right: .5%;
    }
}

/*------------------------------------*\
  #ACTIONS IN MOVILE
\*------------------------------------*/

/**
 * Posible actions for the posts (react and comment)
 */


#actions {
    display: none;
}

#actions-movile {
    display: inline;
}

/*------------------------------------*\
  #POST INFO
\*------------------------------------*/

/**
 * Comments and reactions in each post
 */


#post-info {
    padding: 2% 4%;

    #reacts-counter {
        display: none;
    }

}


/*------------------------------------*\
  #POST COMMENTS
\*------------------------------------*/

#post-comments {
    padding: 4%;
    width: 100%;

    .comment {
        margin: 2% 0;
        width: 100%;

        .picture-content {
            width: 12%;

            img {
                width: 80%;
            }
        }

        .comment-content {
            font-size: .8em;
            margin: .1%;
            width: 87%;

            h5 { margin-top: .5em; }

            h6 {
                margin-right: .5em;
            }
        }
    }

    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

/*------------------------------------*\
  # HTML TAGS
\*------------------------------------*/



button {
    display: none;
}


/*------------------------------------*\
  #ROUTER
\*------------------------------------*/

/**
 * Style for all React components
 */


#root { font-size: .8rem; }

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

/**
 * Style for the header
 */


header {
    height: 3em;
    padding: 2% 0;
    width: 100%;

    h1 {
        font-size: 1em;
        padding: 0;
        width: 100%;
    }

    p {
        display: none;
    }
}

/*------------------------------------*\
  #CONTAINER
\*------------------------------------*/

/**
 * Style for posts section
 */


#container {
    padding: 0 5%;
}

/* Input for publications and comments */

.textarea {
    padding: 6% 3%;
}

/*------------------------------------*\
  #PUBLICATION
\*------------------------------------*/

/**
 * Style for posts input section
 */


#publication {
    padding: 2% 0;

    div {
        display: none;
    }
}


/*------------------------------------*\
  #POST
\*------------------------------------*/


/* Profile pictures in comments and posts */
.profile-picture {
    width: 20%;

    img {
        width: 65%;
    }
}

/*------------------------------------*\
  #POST DATA
\*------------------------------------*/

/**
 * Information of the post
 */


#post-data {
    
    width: 75%;

    p {
        padding-right: .5%;
    }
}

/*------------------------------------*\
  #ACTIONS
\*------------------------------------*/

/**
 * Posible actions for the posts (react and comment)
 */


#actions {
    display: none;
}

#actions-movile {
    display: inline;
}

/*------------------------------------*\
  #POST INFO
\*------------------------------------*/

/**
 * Comments and reactions in each post
 */


#post-info {
    padding: 2% 4%;

    #reacts-counter {
        display: none;
    }

}


/*------------------------------------*\
  #POST COMMENTS
\*------------------------------------*/

#post-comments {
    padding: 4%;
    width: 100%;

    .comment {
        margin: 2% 0;
        width: 100%;

        .picture-content {
            width: 12%;

            img {
                width: 80%;
            }
        }

        .comment-content {
            font-size: .8em;
            margin: .1%;
            width: 87%;

            h5 { margin-top: .5em; }

            h6 {
                margin-right: .5em;
            }
        }
    }

    }
}


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    /*------------------------------------*\
  # HTML TAGS
\*------------------------------------*/



button {
    display: none;
}


/*------------------------------------*\
  #ROUTER
\*------------------------------------*/

/**
 * Style for all React components
 */


#root { font-size: .8rem; }

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

/**
 * Style for the header
 */


header {
    height: 3em;
    padding: 2% 0;
    width: 100%;

    h1 {
        font-size: 1em;
        padding: 0;
        width: 100%;
    }

    p {
        display: none;
    }
}

/*------------------------------------*\
  #CONTAINER
\*------------------------------------*/

/**
 * Style for posts section
 */


#container {
    padding: 0 5%;
}

/* Input for publications and comments */

.textarea {
    padding: 6% 3%;
}

/*------------------------------------*\
  #PUBLICATION
\*------------------------------------*/

/**
 * Style for posts input section
 */


#publication {
    padding: 2% 0;

    div {
        display: none;
    }
}


/*------------------------------------*\
  #POST
\*------------------------------------*/


/* Profile pictures in comments and posts */
.profile-picture {
    width: 20%;

    img {
        width: 65%;
    }
}

/*------------------------------------*\
  #POST DATA
\*------------------------------------*/

/**
 * Information of the post
 */


#post-data {
    
    width: 75%;

    p {
        padding-right: .5%;
    }
}

/*------------------------------------*\
  #ACTIONS IN MOVILE
\*------------------------------------*/

/**
 * Posible actions for the posts (react and comment)
 */


#actions {
    display: none;
}

#actions-movile {
    display: inline;
}

/*------------------------------------*\
  #POST INFO
\*------------------------------------*/

/**
 * Comments and reactions in each post
 */


#post-info {
    padding: 2% 4%;

    #reacts-counter {
        display: none;
    }

}


/*------------------------------------*\
  #POST COMMENTS
\*------------------------------------*/

#post-comments {
    padding: 4%;
    width: 100%;

    .comment {
        margin: 2% 0;
        width: 100%;

        .picture-content {
            width: 12%;

            img {
                width: 80%;
            }
        }

        .comment-content {
            font-size: .8em;
            margin: .1%;
            width: 87%;

            h5 { margin-top: .5em; }

            h6 {
                margin-right: .5em;
            }
        }
    }

    }
}